# This is a Check Point CloudGuard ShiftLeft Demo pipeline
# In this pipeline we will run through a terraform scan, container image scan
# and a repository scan.

resources:
  repositories:
  - repository: demo-app
    type: github
    endpoint: chkp-rolandop
    name: chkp-rolandop/demo-app
  - repository: iac-noncompliant
    type: github
    endpoint: chkp-rolandop
    name: chkp-rolandop/cloudguard-iac-noncompliant-terraform
  - repository: spectra-goat
    type: git
    name: shiftleft-azure-devops

jobs:
- job: SpectralScanning_Secrets
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - checkout: shiftleft-azure-devops
  - script: curl -L 'https://get.spectralops.io/latest/x/sh?dsn=$(SPECTRAL_DSN)' | sh
    displayName: 'Install Spectral'
  - script: $HOME/.spectral/spectral scan --ok --dsn $(SPECTRAL_DSN) --include-tags base,audit3
    displayName: 'Spectral Scan - Secrets'

- job: SpectralScanning_IaC
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - checkout: shiftleft-azure-devops
  - script: curl -L 'https://get.spectralops.io/latest/x/sh?dsn=$(SPECTRAL_DSN)' | sh
    displayName: 'Install Spectral'
  - script: $HOME/.spectral/spectral scan --ok --dsn $(SPECTRAL_DSN) --include-tags iac
    displayName: 'Spectral Scan - IaC'

- job: SourceCodeScanning
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - checkout: demo-app
  - task: CmdLine@2
    inputs:
      script: |
        curl -G https://shiftleft-prod.s3.amazonaws.com/blades/shiftleft/bin/linux/amd64/0.0.36/shiftleft -o shiftleft
        chmod +x shiftleft
    displayName: Install ShiftLeft
  - script: ./shiftleft code-scan -t 900 -e $CHKP_CLOUDGUARD_ENV -l ado=shiftleft-binary -r -2003 -s ./
    env:
      #Map secret variables to environment variables
      CHKP_CLOUDGUARD_ID: $(CHKP_CLOUDGUARD_ID)
      CHKP_CLOUDGUARD_SECRET: $(CHKP_CLOUDGUARD_SECRET)
      CHKP_CLOUDGUARD_ENV: $(CHKP_CLOUDGUARD_ENV)
    displayName: Running Source Code scan

- job: SourceCodeScanningWithDocker
  pool:
    vmImage: 'ubuntu-latest'
    
  container:
    image: cpemergingtech.azurecr.io/shiftleft-bash:latest
    endpoint: cpemergingtech
  steps:
  - checkout: demo-app
  - script: shiftleft code-scan -t 900 -e $CHKP_CLOUDGUARD_ENV -l ado=shifleft-docker -r -2003 -s ./
    env:
      #Map secret variables to environment variables
      CHKP_CLOUDGUARD_ID: $(CHKP_CLOUDGUARD_ID)
      CHKP_CLOUDGUARD_SECRET: $(CHKP_CLOUDGUARD_SECRET)
      CHKP_CLOUDGUARD_ENV: $(CHKP_CLOUDGUARD_ENV)
    displayName: Running Source Code scan using ShiftLeft Docker image

- job:  ContainerImageScan
  pool:
    vmImage: 'ubuntu-latest'

  steps:
  - checkout: demo-app
  - task: DockerInstaller@0
    inputs:
      dockerVersion: '17.09.0-ce'
    displayName: Installing Docker
  - task: CmdLine@2
    inputs:
      script: |
        curl -G https://shiftleft-prod.s3.amazonaws.com/blades/shiftleft/bin/linux/amd64/0.0.36/shiftleft -o shiftleft
        chmod +x shiftleft
    displayName: Install ShiftLeft
  - task: CmdLine@2
    env:
      #Need to map secret variable to environment variables
      CHKP_CLOUDGUARD_ID: $(CHKP_CLOUDGUARD_ID)
      CHKP_CLOUDGUARD_SECRET: $(CHKP_CLOUDGUARD_SECRET)
    inputs:
      script: |
        docker build -t demo-app .
        docker save -o demo-app.tar demo-app
        ./shiftleft image-scan -i demo-app.tar
    displayName: Running Container Image scan

- job: SourceCodeScanningOnWindows
  pool:
    vmImage: 'windows-latest'
  steps:
  - checkout: demo-app
  - task: CmdLine@2
    env:
      #Map secret variables to environment variables
      CHKP_CLOUDGUARD_ID: $(CHKP_CLOUDGUARD_ID)
      CHKP_CLOUDGUARD_SECRET: $(CHKP_CLOUDGUARD_SECRET)
    inputs:
      script: |
        curl -G https://shiftleft-prod.s3.amazonaws.com/blades/shiftleft/bin/windows/amd64/0.0.36/shiftleft.exe -o shiftleft.exe
        shiftleft.exe code-scan -s ./
    displayName: Running Source Code scan on Windows Agent
